<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4>Wmq-Admin V1.0 正式发布！</h4>
                <p>Wmq 后台采用 beego1.8 + Sqlite !</p>
                <p style="margin-top: 15px;">
                    <a href="https://github.com/phachon/wmq-admin" class="btn btn-primary">源代码(GitHub)</a>&nbsp;&nbsp;
                    <a href="https://github.com/phachon/wmq-admin/issues/new" class="btn btn-danger">提交Bug</a>&nbsp;&nbsp;
                    <a class="btn btn-sm btn-success" href="https://github.com/phachon/wmq-admin/tree/v1.0">
                        <i class="glyphicon glyphicon-download"></i> &nbsp; 下载 <span style="font-size: 60%;">(V1.0)</span> &nbsp;
                    </a>
                    <a href="https://github.com/phachon" class="btn btn-warning">学习交流</a>&nbsp;&nbsp;
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">系统公告板</div>
                <div class="panel-body">
                    <div class="col-md-7">
                        {{ range $notice := .notices }}
                        <div class="alert alert-info alert-dismissible fade in" role="alert" style="padding: 10px 10px;margin-bottom: 10px;">
                            <p>
                                <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                                <strong>{{$notice.UserName}}：</strong>
                                {{$notice.Message}}&nbsp;&nbsp; — {{dateFormat $notice.CreateTime "Y-m-d H:i:s" }}
                            </p>
                        </div>
                        {{end}}
                    </div>
                    <div class="col-md-5">
                        <form action="/notice/save" method="post" onsubmit="return false">
                            <div class="form-group">
                                <label for="text1">输入公告内容</label>
                                <input type="hidden" name="user_name" value="{{.userName}}"/>
                                <textarea class="form-control" id="text1" name="message" rows="5" cols="10" placeholder="输入公告内容"></textarea>
                                <button type="button" name="submit" onclick="Form.ajaxSubmit(this.form, false);" class="btn btn-primary mar_t15">发布</button>
                            </div>
                        </form>
                        <div class="panel panel-default">
                            <div class="panel-heading">联系手册</div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    {{ range $user := .users }}
                                    <li class="list-group-item">{{$user.Name}}：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;{{$user.Mobile}}&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{$user.Email}}</li>
                                    {{end}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>