<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4>Wmq-Admin V1.0 正式发布！</h4>
                <p>Wmq 后台采用 beego1.8 + Sqlite !</p>
                <p style="margin-top: 15px;">
                    <a href="https://github.com/phachon/wmq-admin" class="btn btn-primary">源代码(GitHub)</a>&nbsp;&nbsp;
                    <a href="https://github.com/phachon/wmq-admin/issues/new" class="btn btn-danger">提交Bug</a>&nbsp;&nbsp;
                    <a class="btn btn-sm btn-success" href="https://github.com/phachon/wmq-admin/tree/v1.0">
                        <i class="glyphicon glyphicon-download"></i> &nbsp; 下载 <span style="font-size: 60%;">(V1.0)</span> &nbsp;
                    </a>
                    <a href="https://github.com/phachon" class="btn btn-warning">学习交流</a>&nbsp;&nbsp;
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">系统公告板</div>
                <div class="panel-body">
                    <div class="col-md-7">
                        <div class="media well">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object wh64" src="/static/images/a.png" alt="卓大哥">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">卓大哥</h4>
                                技术大哥，今晚请把网站程序升级一下哈，现在的系统有漏洞，安全起见！
                            </div>
                        </div>
                        <div class="media well">
                            <div class="media-body text-right">
                                <h4 class="media-heading">技术大哥</h4>
                                收到，今晚凌晨2点准时升级！
                            </div>
                            <div class="media-right">
                                <a href="#">
                                    <img class="media-object wh64" src="/static/images/b.png" alt="技术大哥">
                                </a>
                            </div>
                        </div>
                        <div class="media well">
                            <div class="media-body text-right">
                                <h4 class="media-heading">技术大哥</h4>
                                你先在站点发布一下通知哈！
                            </div>
                            <div class="media-right">
                                <a href="#">
                                    <img class="media-object wh64" src="/static/images/b.png" alt="技术大哥">
                                </a>
                            </div>
                        </div>
                        <div class="media well">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object wh64" src="/static/images/a.png" alt="卓大哥">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">卓大哥</h4>
                                好嘞。
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <form action="#">
                            <div class="form-group">
                                <label for="text1">输入公告内容</label>
                                <textarea class="form-control" id="text1" rows="5" cols="10" placeholder="输入公告内容"></textarea>
                                <button type="submit" class="btn btn-default mar_t15">留言</button>
                            </div>
                        </form>
                        <div class="panel panel-default">
                            <div class="panel-heading">联系手册</div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    {{ range $user := .users }}
                                    <li class="list-group-item">{{$user.Name}}：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;{{$user.Mobile}}&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{$user.Email}}</li>
                                    {{end}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>