<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body" style="padding: 15px 0;">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="/message/list">消息列表</a></li>
                    <li><a href="/message/add">添加消息</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="row">
                    <form>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">选择节点</span>
                                <select class="form-control" onchange="Message.node(this)">
                                    {{range $node := .nodes}}
                                    <option value="{{$node.Id}}">{{$node.Ip}}:{{$node.MessagePort}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-7"></div>
                        <div class="col-md-2">
                            <div class="form-group text-left">
                                <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> 重载服务</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="w10p">消息名称</th>
                            <th class="w8p">模式</th>
                            <th class="w8p">持久化</th>
                            <th class="w8p">是否验证</th>
                            <th class="w20p">Token</th>
                            <th class="w15p">备注</th>
                            <th class="w15p">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $message := .messages}}
                        <tr>
                            <td class="center">{{$message.Name}}</td>
                            <td class="center">{{$message.Mode}}</td>
                            <td class="center">
                                {{if eq $message.Durable true}}是{{else}}否{{end}}
                            </td>
                            <td class="center">
                                {{if eq $message.IsNeedToken true}}是{{else}}否{{end}}
                            </td>
                            <td class="center">{{$message.Token}}</td>
                            <td class="center">{{$message.Comment}}</td>
                            <td class="center">
                                <a data-link="" name="consumer"><i class="glyphicon glyphicon-list-alt"></i> 消费者</a>
                                <a data-link="message_edit.html" name="edit"><i class="glyphicon glyphicon-pencil"></i> 修改</a>
                                <a onclick="Common.confirm('确定要删除吗？')"><i class="glyphicon glyphicon-remove"></i> 删除</a>
                            </td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-8 m-pagination" id="paginator">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/modules/message.js"></script>
<script type="text/javascript">
    Message.bindFancyBox();
    Message.consumer();
</script>