/* login */

body {
    background: #eeeeee;
}

.container {

}

.login {
    margin-top: 180px;
}

.login-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.login-remember {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #5d6368;
    font-size: 13px;
}