<div class="container">
    <div class="row">
        <br>
        <div class="col-md-12">
            <div class="panel-body">
                <form class="form-horizontal" action="/consumer/modify" method="post" onsubmit="return false">
                    <input type="hidden" name="node_id" value="{{.node_id}}">
                    <input type="hidden" name="consumer_id" value="{{.consumer.ID}}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="text-danger"> * </span>消费URL</label>
                        <div class="col-sm-6">
                            <input type="text" name="url" class="form-control" placeholder="消费地址" value="{{.consumer.URL}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="text-danger"> * </span>消息名称</label>
                        <div class="col-sm-6">
                            <input type="text" name="message" class="form-control" value="{{.selectMessage}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="text-danger"></span>RouteKey</label>
                        <div class="col-sm-6">
                            <input type="text" name="route_key" class="form-control" placeholder="RouteKey" value="{{.consumer.RouteKey}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="text-danger"> * </span>超时时间</label>
                        <div class="col-sm-6">
                            <input type="text" name="timeout" class="form-control" placeholder="超时时间(毫秒)" value="{{.consumer.Timeout}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="text-danger"> * </span>检查httpCode</label>
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                <input type="radio" name="check_code" value="1" {{if eq .consumer.CheckCode true}} checked="checked" {{end}}>
                                是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="check_code" value="0" {{if eq .consumer.CheckCode false}} checked="checked" {{end}}>
                                否
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="text-danger"></span>httpCode</label>
                        <div class="col-sm-6">
                            <input type="text" name="code" class="form-control" placeholder="如果需要检查httpCode, 请输入code码，默认是200，否，不输入" value="{{.consumer.Code}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-6">
                            <input type="text" name="comment" class="form-control" placeholder="备注" value="{{.consumer.Comment}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" name="submit" onclick="Form.ajaxSubmit(this.form, true)" class="btn btn-success">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>